
  .btn-custom-primary {
    background-color: #117566;
    color: #fcfcfc;
    border-color: #077e6a;
  }


  .btn-custom-primary:hover,
  .btn-custom-primary:focus {
    background-color: #199984;
    color: #e2eceb;
    border-color: #199984;
  }
  

